a{
    color: rgb(256,256,256);
    text-decoration: none;
}
a:hover{
    color: #5b9ba9;
}
.one{
    height: 60px;
    width: 100%;
    background: #3c5e79;
    font-size: 20px;
    color: #FFFFFF;
    align-content: center;
    border-radius: 15px;
}

.logo{
    float: left;
    margin-left: 40px;
    margin-top: 15px;
}
.two ul li{
    list-style: none;
}
.two{
    letter-spacing: 1.6px;
    line-height: 45px;
    font-size: 20px;
    font-family: 华文新魏;
}
.shouban{
    height: 300px;
    width: 100%;
    background: rgba(60,94,121,.1);
}
.shouban_l{
    margin-top: 30px;
    margin-left: 150px;
}
.shouban_lr{
    margin-top: 30px;
}
.shouban_r{
    margin-top: 30px;
    margin-right: 105px;
}
.shouban_rr{
    margin-top: 30px;
}
.shoushi{
    height: 300px;
    width: 100%;
    background: #edf4ed;
}
.shoushi_l{
    margin-top: 30px;
    margin-left: 150px;
}
.shoushi_lr{
    margin-top: 20px;
}
.shoushi_r{
    margin-top: 30px;
    margin-right: 235px;
}
.shoushi_rr{
    margin-top: 20px;
}
.clothes{
    height: 300px;
    width: 100%;
    background: rgba(251,230,222,.2);
}
.clothes_l{
    margin-top: 30px;
    margin-left: 150px;
}
.clothes_lr{
    margin-top: 20px;
}
.clothes_r{
    margin-top: 30px;
    margin-right: 235px;
}
.clothes_rr{
    margin-top: 20px;
}
.two input{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 0px 7px 5px;
    height: 20px;
    width: 40px;
}
.button{
    text-align: center;  /*元素居中*/
}
.button button{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(60,94,121,.8);
    border: none;
    color: #FFFFFF;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}